Repository SAM-Research/denim-on-sam, pull requests merged in 2025-03, with the labels that each got.

#9 Basic Proxy
  .github/codecov.yml
  .github/workflows/rust.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  client/src/lib.rs
  e2e/Cargo.toml
  e2e/tests/proxy.rs
  e2e/tests/utils/client.rs
  e2e/tests/utils/mod.rs
  e2e/tests/utils/server.rs
  proxy/Cargo.toml
  proxy/src/error.rs
  proxy/src/lib.rs
  proxy/src/main.rs
  proxy/src/proxy.rs
  proxy/src/routes.rs
  proxy/src/server.rs
  proxy/src/state.rs
  proxy/src/utils.rs
Labels: Denim Proxy

#15 TLS and JSON Config
  .github/workflows/rust.yml
  .gitignore
  Cargo.toml
  README.md
  e2e/Cargo.toml
  e2e/tests/proxy.rs
  e2e/tests/utils/client.rs
  e2e/tests/utils/server.rs
  proxy/Cargo.toml
  proxy/src/config.rs
  proxy/src/error.rs
  proxy/src/lib.rs
  proxy/src/main.rs
  proxy/src/server.rs
  proxy/src/state.rs
  proxy/src/utils.rs
  scripts/generate_cert.sh
  scripts/server_cert_ext.cnf
Labels: enhancement

#8 SendingBuffer, ReceivingBuffer and Protobuf for Common
  Cargo.toml
  common/Cargo.toml
  common/build.rs
  common/proto/DenimMessage.proto
  common/src/buffers/in_mem/mod.rs
  common/src/buffers/in_mem/recv.rs
  common/src/buffers/in_mem/send.rs
  common/src/buffers/mod.rs
  common/src/buffers/traits/mod.rs
  common/src/buffers/traits/recv.rs
  common/src/buffers/traits/send.rs
  common/src/buffers/types.rs
  common/src/error.rs
  common/src/lib.rs
  common/tests/buffers.rs
  e2e/tests/utils/client.rs
Labels: Denim Common
