Repository SAM-Research/denim-on-sam, pull requests merged in 2025-04, with the labels that each got.

#28 Integration of Receiving buffer in DenimReceiver
  client/Cargo.toml
  client/src/error.rs
  client/src/receiver.rs
  common/src/buffers/in_mem/recv.rs
  common/src/buffers/in_mem/send.rs
  common/src/buffers/mod.rs
  common/src/buffers/traits/mod.rs
  common/src/buffers/traits/recv.rs
  common/src/buffers/traits/send.rs
  common/src/buffers/types.rs
  common/src/error.rs
  common/src/lib.rs
  common/tests/buffers.rs
Labels: Denim Client

#39 CLI JSON Config, Tests now use get_next_port
  Cargo.toml
  README.md
  client/Cargo.toml
  client/src/protocol/denim_client.rs
  client/src/protocol/mod.rs
  client/src/receiver.rs
  common/src/buffers/in_mem/send.rs
  common/tests/buffers.rs
  e2e/Cargo.toml
  e2e/tests/account.rs
  e2e/tests/device.rs
  e2e/tests/keys.rs
  e2e/tests/proxy.rs
  e2e/tests/utils/client.rs
  e2e/tests/utils/server.rs
  proxy/Cargo.toml
  proxy/src/config.rs
  proxy/src/main.rs
  proxy/src/managers/default/buffer_manager.rs
  proxy/src/proxy.rs
  proxy/src/state.rs
Labels: Denim Proxy, Denim Client, Denim Common

#23 Added State Types, Managers and KDC
  Cargo.toml
  client/Cargo.toml
  client/src/encryption/encrypt.rs
  client/src/protocol/denim_client.rs
  client/src/receiver.rs
  common/build.rs
  common/proto/DenimMessage.proto
  common/src/lib.rs
  common/src/seed.rs
  e2e/Cargo.toml
  e2e/tests/account.rs
  e2e/tests/device.rs
  e2e/tests/keys.rs
  e2e/tests/proxy.rs
  e2e/tests/utils/server.rs
  proxy/Cargo.toml
  proxy/src/config.rs
  proxy/src/denim_routes.rs
  proxy/src/error.rs
  proxy/src/lib.rs
  proxy/src/logic/keys.rs
  proxy/src/logic/mod.rs
  proxy/src/main.rs
  proxy/src/managers/default/buffer_manager.rs
  proxy/src/managers/default/key_gen.rs
  proxy/src/managers/default/mod.rs
  proxy/src/managers/in_mem/id_provider.rs
  proxy/src/managers/in_mem/keys.rs
  proxy/src/managers/in_mem/mod.rs
  proxy/src/managers/inmem/mod.rs
  proxy/src/managers/mod.rs
  proxy/src/managers/traits/keys.rs
  proxy/src/managers/traits/message.rs
  proxy/src/managers/traits/mod.rs
  proxy/src/proxy.rs
  proxy/src/routes.rs
  proxy/src/server.rs
  proxy/src/state.rs
  proxy/src/state/in_mem.rs
  proxy/src/state/mod.rs
  proxy/src/utils.rs
Labels: enhancement, Denim Proxy

#47 DenimMessage struct, removed garbage flags and DeniablePayload encoding/decoding
  client/src/error.rs
  client/src/message/mod.rs
  client/src/protocol/denim_client.rs
  client/src/receiver.rs
  common/build.rs
  common/proto/DenimMessage.proto
  common/src/buffers/in_mem/recv.rs
  common/src/buffers/in_mem/send.rs
  common/src/buffers/mod.rs
  common/src/buffers/traits/send.rs
  common/src/buffers/types.rs
  common/src/error.rs
  common/src/lib.rs
  common/tests/buffers.rs
  proxy/src/managers/default/buffer_manager.rs
  proxy/src/proxy.rs
Labels: bug, Denim Common, URGENT
